HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env
/offsets

### LaTeX ###
artigo_latex/*.aux
artigo_latex/*.log
artigo_latex/*.out
artigo_latex/*.bbl
artigo_latex/*.blg
artigo_latex/*.synctex.gz
artigo_latex/*.toc
artigo_latex/*.fls
artigo_latex/*.fdb_latexmk
